.work {
  height: 100px;
  width: 100px;
  font-size
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: 0;
}

.smaller {
  height: 30px;
  width: 30px;
}

.item {
  cursor: pointer;
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
}
